<section class="pt-5" id="validation">

    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="mb-2 fs-7 fw-bold">Xin chào mọi người</h2>
          <p class="mb-4 fw-medium text-secondary">
            Chào mừng mọi người đến với ứng dụng Quizz. Nền tảng thi trắc nghiệm Online
          </p>
          <h4 class="fs-1 fw-bold"><input type="text" class="form-control-lg rounded-pill border-1 mr-5" placeholder="Mã môn"  [(ngModel)]="codeSearch">
            <button (click)="searchSubmit()" class="btn-lg btn-warning text-bold text-white rounded-pill ">Vào ngay</button>
           </h4>
          <div class="mb-4  mt-3 fw-medium text-secondary">
            <div *ngIf="subjectOne.Name!=''" class="col-7 mb-4">
              <div class="card border-0"><img class="card-img-top" src="../../../assets/img/{{subjectOne.Logo}}" alt="" />
                <div class="card-body  p-3">
                    <h3 class="fw-bold">{{subjectOne.Name}}</h3>
                  <p class="text-secondary">Mã môn: {{subjectOne.Code}}</p>
                  <div class="mb-3">
                   <a class="btn btn-outline-info" routerLink="/quiz/{{subjectOne.Code}}">Vào lớp</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        </div>
        <div class="col-lg-5"><img class="img" width="90%" src="../../../assets/img/validation.png" alt="" /></div>
      </div>
    </div><!-- end of .container-->

    <section class="pt-5" >
        <div class="container">
         
          
        </div>
        <div class="container">
          <h1 class="fw-bold  mb-3">Môn học</h1>
          <!-- <p class="mb-6 text-secondary">Join 40,000+ other marketers and get proven strategies on email marketing</p> -->
          <div class="row">
            <div *ngFor="let sub of listSubjects" class="col-md-4 mb-4">
              <div class="card border-0">
                <a class="" routerLink="/quiz/{{sub.Code}}" ><img class="card-img-top" height="160px" src="../../../assets/img/{{sub.Logo}}" alt="" /></a>
                <div class="card-body  p-3">
                    
                  <div class="heigth_text">
                    <a class="" routerLink="/quiz/{{sub.Code}}" ><h3 class="fw-bold " style="height: 2.5em;">{{sub.Name}}</h3></a>
                  </div>
                  <p class="text-secondary">Mã môn: {{sub.Code}}</p>
                  <div class="mb-3">
                   <a class="btn btn-outline-info" routerLink="/quiz/{{sub.Code}}">Làm bài</a>
                  </div>
                </div>
              </div>
            </div>
           
            
          </div>
        </div><!-- end of .container-->

      </section>