<div class="card">
    <div class="row">
        <div class="col-8">
            <h2 class="p-4">Danh sách câu hỏi</h2>
        </div>
        <div class="col-4">
            <div class="form-inline ml-3 mt-4 ">
                <div class="input-group input-group-sm bg-light">
                  <input class="form-control form-control-navbar" id="text_search"  pInputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')"  placeholder="Search" >
                  <div class="input-group-append">
                    <button class="btn btn-navbar rounded-right-1 bg-secondary  border-1" type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <p-table #dt [value]="listQuestion" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll" [globalFilterFields]="['Text','Code']"
         >
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Câu hỏi</th>
                <th>Đáp án</th>
                <th><a routerLink="/admin/question-add/{{codeSubject}}" class="btn-sm btn-primary"><i class="pi pi-plus"></i></a></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question  let-rowIndex="rowIndex">
            <tr >
                <td>{{rowIndex+1}}</td>
                <td>{{question.Text}}</td>
                <td style="list-style: lower-alpha;"><li *ngFor="let a of question.Answers" > 
                    <span class="text-success" *ngIf="question.AnswerId == a.id">{{a.Text}}</span>
                    <span class="" *ngIf="question.AnswerId != a.id">{{a.Text}}</span>
                </li></td>
                <td>
                    <a routerLink="/admin/question-edit/{{codeSubject}}/{{question.id}}"  class="btn btn-sm btn-primary"><i class="pi pi-pencil"></i></a>
                        <button (click)="remove(question.id,codeSubject)" class="btn btn-sm btn-danger"><i class="pi pi-trash"></i></button>
                </td>
            </tr>
        </ng-template>
       
    </p-table>
</div>