    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Thêm mới môn học</h4>
                <p></p>
               
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 m-auto">
            <div class="col-7 m-auto">
                <label for="firstName" class="form-label">Tên môn học</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                </div>
              </div>
              <div class="col-7 m-auto">
                <label for="firstName" class="form-label">Mã môn</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                </div>
              </div>
              <div class="col-7 m-auto">
                <label for="firstName" class="form-label">Ảnh</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                </div>
              </div>
              <div class="col-sm-6  m-auto">
                <button class="btn btn-info mt-3">Thêm</button>
              </div>
        </div>
    </div>